<div class="p-grid">
  <div class="p-col-12">
      <form>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Username">
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-mobile" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Phone Number">
        </div>
        <div class="p-grid">
          <div class="p-col-12">
            <button pButton type="submit" label="Submit" class="ui-button-success"></button>
            <button pButton type="button" label="Delete" class="ui-button-danger"></button>
            <button pButton type="button" label="Clear" class="ui-button-primary"></button>
          </div>
        </div>
      </form>
  </div>
</div>
