<div class="p-grid">
  <div class="p-col-12">
    <button pButton type="button" label="New" class="ui-button-raised" (click)="onClickNew()"></button>
    <button pButton type="button" label="Options" class="ui-button-raised ui-button-warning" (click)="options = !options"></button>
  </div>
  <div class="p-col-12">
    <hr>
    <p-orderList [value]="messages" controlsPosition="right" (onSelectionChange)="onSelectionChange($event)">
      <ng-template let-msg pTemplate="item">
        <div class="ui-helper-clearfix">
          <app-msg-item [msg]="msg" [onEdit]="options"></app-msg-item>
        </div>
      </ng-template>
    </p-orderList>
  </div>
</div>


